@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--tw-bg-opacity: 1;
	background-color: rgb(24 24 27 / var(--tw-bg-opacity, 1)) /* #3f3f46 */;
}

.specific-h {
	height: calc(100% - 80px);
}
