@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) /* #3f3f46 */;
}

.page-content-h {
	height: calc(100% - 80px);
}

.container-h {
	height: calc(100% - 32px);
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;

	background-color: transparent;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
}

.marker-popup .leaflet-popup-content-wrapper,
.marker-popup .leaflet-popup-tip {
	--tw-bg-opacity: 1;
	background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1));
}

@media (prefers-color-scheme: dark) {
	:root {
		--tw-bg-opacity: 1;
		background-color: rgb(24 24 27 / var(--tw-bg-opacity, 1)) /* #3f3f46 */;
	}

	.marker-popup .leaflet-popup-content-wrapper,
	.marker-popup .leaflet-popup-tip {
		--tw-bg-opacity: 1;
		background-color: rgb(39 39 42 / var(--tw-bg-opacity, 1));
	}

	.leaflet-layer,
	.leaflet-control-zoom-in,
	.leaflet-control-zoom-out,
	.leaflet-control-attribution {
		filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
	}
}
